body {
    background-color: #140E3F;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: #140E3F;
    height: 50px;
    width: 100%;
    font-family: 'K2D', sans-serif;
    padding-bottom: 10px;
}

@media (max-width:1000px) {
    header {
        display: block;
        height: auto;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .logo a {
        border-bottom: #FE909E solid 2px;
        width: 50%;
    }


    a {
        margin: 0px;
    }
}

.logo a {
    font-size: 30px;
    text-decoration: none;
    color: whitesmoke;
    margin: 40px;
}

@media (min-width: 1251) {
    a:last-of-type {
        margin-right: 200px;
    }
}

.nav-link {
    font-size: 20px;
    text-decoration: none;
    color: #82F5FF;
    display: inline;
    margin: 20px;
}

section {
    background-image: url(./background-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.about {
    font-family: 'Lekton', sans-serif;
    color: #82F5FF;
    font-size: 26px;
    position: fixed;
    width: fit-content;
    margin: 7%;
}

.about p {
    padding-right: 25px;
    text-align: right;
}

.about-container {
    border-left: #FE909E solid 2px;
    width: auto;
}

li {
    list-style: none;
}

li:last-of-type {
    border-top: #FE909E solid 2px;
}
